
:root {
	--BackgroundColor: #F0EFF4;
	--PrimaryColor1: #1C3144;
	--PrimaryColor2: #073B4C;
	--PrimaryColor3: #118AB2;
	--ActionColor: #06D6A0;
	--TransluscentBlueThick: #1C3144AA;
	--TransluscentBlueThin: #1C318844;
	--TransluscentWhiteThick: #F0EFF4AA;
	--TransluscentWhiteThin: #F0EFF444;
}

main {
	margin-left: 75px;
	margin-right: 75px;
	padding: 20px;
	min-height: 1000px;
}

body {
	background-color: var(--BackgroundColor);
}

a {
	color: var(--ActionColor);
}

.PageHeader {
	background-color: var(--TransluscentBlueThick);
	text-align: center;
	padding: 20px;
	font-size: 35px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	color: var(--BackgroundColor);
}

.navBar {
	position: -webkit-sticky; /* For Safari support */
	position: sticky;
	top: 0;
	left: 0px;
	right: 0px;

	margin-top: 0px;
	margin-bottom: 10px;
	padding: 15px;

	background-color:var(--PrimaryColor1);
	text-align: center;
}

.footer {
	background-color:var(--TransluscentBlueThick);
	color: white;
	padding: 5px;
}

.navBarLink {

	font-size: 20px;
	color:blue;
	background-color:var(--TransluscentWhiteThin);

	border-width: 2px;
	border-color: black;
	
	padding: 8px;

	margin-left: 4px;
	margin-right: 4px;

	margin-top: 2px;
	margin-bottom: 2px;
}

.rectangleCanvas {
	border-width: 2px;
	border-color: black;
	border-style: solid;
	padding: 30px;
}